/* General Styles for Body */
body {
    background: linear-gradient(to bottom, #190019, #2b124c); /* Dark purple gradient background */
    font-family: 'Arial', sans-serif;
    color: #fbe4d8; /* Pale peach text color */
    margin: 0; /* Remove default margin */
    min-height: 100vh; /* Ensure it covers the full viewport height */
    justify-content: center; /* Centers the content vertically */
    align-items: center; /* Centers the content horizontally */
}
/* Container Styles */
.about-us-container {
    width: 100%;
    background: linear-gradient(to bottom, #190019, #2b124c); /* Pale peach background color */
    padding: 2rem;
    padding-left:13rem;
    padding-right:13rem;
    display: flex; /* Ensures the content takes the full height */
    flex-direction: column; /* Stacks the sections vertically */
    min-height: 100vh;
}
/* Header section */
.about-us-header {
    text-align: center;
    margin-bottom: 2.5rem; /* Increase the bottom margin */
}
.about-us-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff; /* Dark purple color */
    margin-bottom: 0.75rem; /* Increase the bottom margin */
}
.about-us-subtitle {
    font-size: 1.125rem;
    color: #dfb6b2; /* Dark purple color */
    line-height: 1.6;
}
/* Section styles */
.about-us-section {
    margin-bottom: 2rem;
}
.about-us-heading {
    font-size: 1.75rem;
    font-weight: bold;
    color: #ffffff; /* Light purple color */
    margin-bottom: 1rem;
}
.about-us-text {
    font-size: 1rem;
    color: #dfb6b2; /* Dark purple color */
    line-height: 1.8;
}
/* Footer styles */
.about-us-footer {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #854f6c; /* Light purple border */
    color: #dfb6b2; /* Soft pink color */
    font-size: 0.875rem;

}
